.root::before,
.root::after {
  content: " ";
  display: table;
}

.parent {
  display: flex;
  flex-direction: var(--xs-direction);
  margin: calc(var(--xs-gap) * -0.5);
}

.child {
  padding: calc(var(--xs-gap) * 0.5);
}

@media (--bp-sm) {
  .parent {
    flex-direction: var(--sm-direction, var(--xs-direction));
    margin: calc(var(--sm-gap, var(--xs-gap)) * -0.5);
  }
  .child {
    padding: calc(var(--sm-gap, var(--xs-gap)) * 0.5);
  }
}

@media (--bp-md) {
  .parent {
    flex-direction: var(
      --md-direction,
      var(--sm-direction, var(--xs-direction))
    );
    margin: calc(var(--md-gap, var(--sm-gap, var(--xs-gap))) * -0.5);
  }
  .child {
    padding: calc(var(--md-gap, var(--sm-gap, var(--xs-gap))) * 0.5);
  }
}

@media (--bp-lg) {
  .parent {
    flex-direction: var(
      --lg-direction,
      var(--md-direction, var(--sm-direction, var(--xs-direction)))
    );
    margin: calc(
      var(--lg-gap, var(--md-gap, var(--sm-gap, var(--xs-gap)))) * -0.5
    );
  }
  .child {
    padding: calc(
      var(--lg-gap, var(--md-gap, var(--sm-gap, var(--xs-gap)))) * 0.5
    );
  }
}

@media (--bp-xl) {
  .parent {
    flex-direction: var(
      --xl-direction,
      var(
        --lg-direction,
        var(--md-direction, var(--sm-direction, var(--xs-direction)))
      )
    );
    margin: calc(
      var(--xl-gap, var(--lg-gap, var(--md-gap, var(--sm-gap, var(--xs-gap))))) *
        -0.5
    );
  }
  .child {
    padding: calc(
      var(--xl-gap, var(--lg-gap, var(--md-gap, var(--sm-gap, var(--xs-gap))))) *
        0.5
    );
  }
}

@media (--bp-2xl) {
  .parent {
    flex-direction: var(
      --2xl-direction,
      var(
        --xl-direction,
        var(
          --lg-direction,
          var(--md-direction, var(--sm-direction, var(--xs-direction)))
        )
      )
    );
    margin: calc(
      var(
          --2xl-gap,
          var(
            --xl-gap,
            var(--lg-gap, var(--md-gap, var(--sm-gap, var(--xs-gap))))
          )
        ) * -0.5
    );
  }
  .child {
    padding: calc(
      var(
          --2xl-gap,
          var(
            --xl-gap,
            var(--lg-gap, var(--md-gap, var(--sm-gap, var(--xs-gap))))
          )
        ) * 0.5
    );
  }
}
