.theme-light {
  /* Base */
  --transparent: transparent;
  --current: currentColor;
  --black: 0, 0%, 0%;
  --white: 0, 0%, 100%;
  /* Backgrounds */
  --background-app: var(--white);
  /* Borders */
  --border-subtle: var(--gray-6);
  --border-strong: var(--gray-7);
  /* Text */
  --text-primary: var(--gray-12);
  --text-secondary: var(--gray-11);
}
