html {
  font-size: 16px;
  font-variant-ligatures: common-ligatures;
  font-kerning: normal;
  text-size-adjust: 100%;

  &.theme-dark {
    color-scheme: dark;
  }
}

body {
  @apply font-sans antialiased text-primary bg-app;
}
